#switcher {
    background: #fff;
    position: fixed;
    top: 100px;
    left: 0;
    direction: ltr;
    z-index: 11111;
    width: 220px;
    margin-left: 0;
    border-radius: 0 5px 5px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
}

/* Other existing styles... */

#showSwitcher {
    z-index: 11111;
    margin-left: 0px;
    position: fixed;
    left: 0;
    top: 210px;
    background: #fff;
    box-shadow: #ccc 0 0 2px;
    border-left: 0;
    font-size: 18px;
    display: block;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 4px;
    padding: 10px 16px 10px 14px;
    cursor: pointer;
}

/* Other existing styles... */

@media only screen and (max-width: 991px) {
    #switcher {
        top: 40px;
    }
    #showSwitcher {
        top: 15px;
        display: block; /* Show the icon on smaller screens */
    }
}
